
<div class="row border m-0 p-3 mb-4 text-white" *ngIf="selectedProduct">
    <h2 class="card-title">
        {{ selectedProduct.name }}
    </h2>
    <p class="card-text">
        {{ selectedProduct.description }}
    </p>

    <div class="col-md-12">
      
        <img class="img-fluid" src="/assets/imgg/{{ selectedProduct.imageUrl }}">
        <button (click)="hideDetails()" class="btn btn-danger btn-sm">Geri dön ve diğer bilgi afişlerine göz at.</button>
    </div>

</div>
<div class="row">
    <div class="col-md-4" *ngFor="let p of products">
        <div class="card mb-3">
            <img src="/assets/img/{{ p.imageUrl }}" >
            <div class="card-footer text-center">
                <button (click)="displayDetails(p)" class="btn btn-outline-primary btn-sm">Detaylı bilgi için tıklayınız.</button>
                
            </div>
        </div>
    </div>
</div>