<navbar></navbar>

<div class="container pt-100 mb-5">

    <h1 class="" style="background-color:	#D7CCC8;text-align:center"><span style="font-size: 30px;">ÖRNEK
            UYGULAMA</span>
    </h1>
    <div class="row">


        <div class="col-5" style="background-color:#2d73934a;text-align:center">
            <h4>
                Xcyt [5], 1990 yıllarının başında Amerika Madison Eyaleti Wisconsin Üniversitesi‟nde temelleri atılan
                bir yazılım projesinin adıdır. Yazılım, meme kanserindeki iki önemli safha olan tanı (diagnosis) ve
                tahmin (prognosis) safhalarını gerçekleştirmeyi hedefleyerek bir proje olarak ortaya çıkmıştır. Şekil
                4.3‟de kanser riski taşıyan bir hastanın göğsünden alınan doku örneğinin mikroskop altında 63 defa
                büyütülmesi ile elde edilen görüntü verilmiştir. Bu görüntü kullanılarak kenar çıkarma ve merkez saptama
                algoritmaları ile Xcyt programına hücrelerin özelliklerinden dokunun genel şablonu çıkarttırılmaktadır.
                Xcyt programı ile şekil 4.4‟de görüldüğü gibi önce verilen hücre topluluğu gri skalaya çevrilmiştir.
            </h4>
            <img src="../../assets/gifs/ö.jpg" alt="" style="width: 500px;">
        </div>
        <div class="col-7" style="background-color: #2d73936f;text-align:center">
            <img src="../../assets/gifs/ö2.jpg" alt="" style="width: 500px;">
            <h4>
               <ul>
                <li>Radius: Tüm hücrelerin yarıçaplarının ortalaması, standart sapması ve en kötü değeri</li>
                <li> Texture: İç yüzeylerin gri skaladaki değişim oranlarının ortalaması, standart sapması ve en kötü değeri.</li>
                <li> Perimeter: Hücrelerin çevre uzunluklarının ortalaması, standart sapması ve en kötü değeri</li>
                <li>Area: Hücrelerin yüzey alanlarının ortalaması, standart sapması ve en kötü değeri. </li>
                <li> Smoothness: Komşu hücrelerin yarıçap uzunluklarının ortalaması, standart sapması ve en kötü değeri.</li>
                <li> Compactness: Çevre karesi / Alan = Yoğunluk ortalaması, standart sapması ve en kötü değeri</li>
                <li>	Concavity: Hücre çevresindeki girinti ve çıkıntıların büyüklüklerinin ortalaması, standart sapması ve en kötü değeri. </li>
               </ul>
               Bu veriler kanser hücrelerinin belirli özelliklerini temsil edebilir ve kanser teşhisinde kullanılan bir veri setine ait olabilir.
            </h4>
        </div>
    </div>
</div>