<navbar></navbar>

<div class="container pt-100 mb-5">

    <h1 class="" style="background-color:	#D7CCC8;text-align:center"><span style="font-size: 30px;">VERİ MADENCİLİĞİ
            PROGRAMLARI
        </span>
    </h1>
    <div class="row">


        <div class="col-12" style="background-color:#6829784a;">
            <h4>
                Veri Madenciliği, veriden bilgi elde etmek amacıyla kullanılan tekniklerin bir bütünüdür. İstatistiksel
                analiz teknikleri ve yapay zeka algoritmaları bir araya getirilerek, veri içerisindeki gizli bilgilerin
                ortaya çıkarılması ve verinin nitelikli bilgiye dönüştürülmesi sürecini kapsar. Veri Madenciliği
                uygulamalarını gerçekleştirmek için ticari ve açık kaynaklı birçok program mevcuttur.

                Veri Madenciliği uygulamalarını yapmak için bilgisayar programları kullanmak gereklidir. Bu bağlamda,
                birçok yazılım geliştirilmiştir. Bu bölümde özellikle açık kaynaklı veri madenciliği programlarından
                olan WEKA'ya değinilmiştir.
            </h4>

        </div>
        <div class="col-12" style="background-color:#e5eaed4a;">
            .</div>
        <div class="col-12" style="background-color:#3e91b74a;">
            <h2><b><u>Ticari Veri Madenciliği Programları </u></b></h2>
            <h4><b>SPSS</b></h4>
            <h4>SPSS (Statistical Package for the Social Sciences), merkezi Chicago'da bulunan bir programdır. 1967
                yılından bu yana gizli bilgileri keşfetme ve stratejik karar desteği sağlama amacıyla ileri analitik
                çözümler sunmaktadır. SPSS, veri madenciliği metodolojisi olarak CRISP-DM'yi (Cross Industry Standard
                Process for Data Mining) kabul etmiştir ve %50'den fazla bir kullanıma sahiptir. İnternet kayıtları ve
                elde edilen veriler üzerinde gelişmiş veri madenciliği teknikleri uygulanarak, kullanıcılar ile birebir
                ilişki kurmayı sağlayacak öngörüler elde edilebilir. SPSS çözümleri, teknolojileri ve danışmanlığından
                yararlanarak güvenilir sonuçlar elde etmek mümkündür. SPSS, kendi yetenek ve deneyimini veri madenciliği
                çalışmalarına getirerek, öğrenme süresini azaltır ve çalışmalara hızlı bir şekilde başlama olanağı
                sağlar.</h4>
            <h4><b>Clementine</b></h4>
            <h4>Clementine, SPSS firmasının veri madenciliği için geliştirdiği bir modüldür. SPSS istatistiksel bir
                araçtır ve Clementine, SPSS içinde bir modül olarak kullanılabilir, böylece kullanıcılar SPSS'in
                istatistiksel fonksiyonlarından faydalanabilir. Clementine, yapay sinir ağları ve kural tümevarım
                yöntemlerini kullanır. Clementine, müşteri hizmetleri yönetimi, kimya sektöründe maddelerin
                aşındırıcılık tahmininde ve bankacılık alanında kredi kartı dolandırıcılığı gibi konularda uygulama
                alanı bulmuştur.</h4>
            <h4><b>SAS</b></h4>
            <h4>SAS (Statistical Analysis Software), dünya çapında 112 ülkede 44,000'den fazla kullanıcıya sahip bir
                programdır. SPSS'e göre kullanımı biraz daha zor olabilir. SAS programında komutlar yazarak çalışma
                yapılır. Veriler üzerinde istatistiksel teknikleri kullanarak tahminler ve sonuçlar sağlar. SAS,
                araştırma, kamu, perakende, sigorta, bankacılık, medya, eğitim ve telekomünikasyon gibi çeşitli
                sektörlerde kullanılmaktadır.</h4>
            <h4><b>Enterprise Miner</b></h4>
            <h4>Enterprise Miner, SAS firmasının veri madenciliği aracıdır. SAS'ın Veri Ambarı ve Çevrimiçi Analitik
                İşleme (ÇAİ) araçlarıyla entegre çalışabilir. Enterprise Miner, karar ağaçları, yapay sinir ağları,
                regresyon analizi, iki aşamalı modeller, kümeleme, zaman serileri, ilişkilendirme vb. gibi çeşitli veri
                madenciliği sorgularını ele alabilir. Grafiksel arayüzü kullanım kolaylığı sağlar ve kullanıcılar girdi
                ve çıktılara odaklanarak uygulamanın karmaşıklığından habersiz bir şekilde çalışabilirler. İki katmanlı
                mimariyi kullanır. İstemci bilgisayarda Windows 98, 2000 ve NT gibi işletim sistemlerine ihtiyaç duyar,
                sunucu bilgisayarda ise Windows 98, 2000 ve NT ile Linux gereklidir.</h4>
            <h4><b>KXEN</b></h4>
            <h4>KXEN (Knowledge Extraction Engine), bir bilgi çıkarma motorudur. Veri madenciliği motorunu kullanmak
                için veri işleme akışına kolaylıkla entegre edebilen tek programdır.</h4>
            <h4><b>Insightful miner</b></h4>
            <h4>Insightful Miner, basit veri madenciliği projeleri için en iyi programlardan biridir. Özellikle S-Plus
                kullananlar için uygun bir veri madenciliği aracıdır. S-Plus fonksiyonlarının tüm kütüphaneleri bu
                programda kullanılabilir. Bu sayede, Statistica Data Miner kadar olmasa da zengin istatistiksel
                çözümleme algoritmalarına sahiptir.</h4>
            <h2><b><u>WEKA</u></b></h2>
            <h4>WEKA (Waikato Environment for Knowledge Analysis), Waikato Üniversitesi tarafından geliştirilerek 1996'da
            ilk resmi sürümü yayınlanmış olan bir makine öğrenme ve veri madenciliği yazılımıdır. Akademik araştırmalar,
            eğitim ve endüstriyel uygulama alanlarında kullanım yeri olan WEKA, veri analizi ve tahminleyici modelleme
            için geliştirilmiş algoritma ve araçların görsel bir birleşimini içerir. Geliştirilen yazılımın temel
            avantajları geniş veri ön işleme ve modelleme tekniklerine sahip olması, grafiksel kullanıcı arayüzü
            sayesinde kullanımının kolay olması ve Java programlama dili ile uygulandığından herhangi bir platformda
            kullanılabilmesi yani taşınabilir olmasıdır.

            WEKA bir proje olarak başlayıp bugün dünya üzerinde birçok insan tarafından kullanılmaya başlanan bir Veri
            Madenciliği uygulaması geliştirme programıdır. WEKA Java platformu üzerinde geliştirilmiş açık kaynaklı bir
            programdır. WEKA çalıştırıldıktan sonra Şekil 6.1'de görüldüğü gibi, Application menüsünde çalışılabilecek
            modlar listelenmektedir. Bunlar komut modunda çalışmayı sağlayan Simple CLI, projeyi adım adım görsel
            ortamda gerçekleştirmeyi sağlayan Explorer ve projeyi sürükle bırak yöntemiyle gerçekleştirmeyi sağlayan
            KnowledgeFlow seçenekleridir. Explorer seçeneği seçildikten sonra üzerinde çalışılacak verilerin seçilmesi,
            bu veriler üzerinde temizleme ve dönüştürme işlemlerinin gerçekleştirilebilmesini sağlayan ekran ile
            karşılaşılmaktadır.</h4>
            
        </div>
        <div class="col-12 " style="background-color:#2d7393bb;text-align:center">
            <h4>
              <h3><b></b></h3>
              <img src="../../assets/gifs/weka.jpg" alt="" style="width: 300px;">
              
            </h4>
          </div>
    </div>
</div>