.pt-100 {padding-top:100px;}
::ng-deep .list-group-item.active{
    background-color: #bdbdbd !important;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
