<navbar></navbar>
<div class="container pt-100 mb-5">
  <h1 class="" style="background-color:	#D7CCC8;text-align:center"><span style="font-size: 30px;">GÖĞÜS KANSERİ</span>
  </h1>
  <div class="row">
    <div class="col-5" style="background-color:#2d73934a;">
      <h4>
        İnsan vücudundaki sağlıklı hücrelerin, kas ve sinir hücreleri hariç, bölünebilme yeteneği vardır. Hücreler,
        yenilenme ve yaralanan dokuların onarılması amacıyla bölünebilme yeteneklerini kullanırlar. Her hücrenin hayatı
        boyunca belli bir bölünebilme sayısı vardır. Sağlıklı bir hücre gerektiği yerde ve gerektiği kadar bölüneceğini
        bilir. Buna karşın kanser hücreleri, bu bilinci kaybedip kontrolsüz olarak bölünmeye başlayarak çoğalırlar.
        Bütün bu bilgilerden yola çıkarak kanser için aşağıdaki tanımlamaları yapabiliriz, Kanser için en doğru
        tanımlamaları aşağıdaki gibi açıklayabiliriz. Kanser, bir dokunun veya organın hücrelerinde sağlıksız bir
        değişime ortaya çıkıp bu hücrelerin denetimsiz çoğalmaya başlamasıyla meydana gelen hastalıkların tümü için
        kullanılan bir genel kavramdır.Genellikle kontrolden çıkan hücrelerin hızlı ve sürekli çoğalmalarıdır.
        Vücudumuzun her organı birçok farklı hücre tiplerinden oluşmaktadır. Normal olarak bu hücreler vücut için
        gerekli olduğu şekilde belli bir düzen içinde büyüyerek bölünürler.Bu süreç bir düzen içinde yürür ve vücut
        sağlığının korunmasına yarar. Eğer, yeni hücrelere ihtiyaç olmadığı halde hücreler bölünmeye başlarsa,
        gereğinden fazla doku oluşmaya başlar. Bu fazlalık dokular tümör denen bir urun ortaya çıkmasına sebep
        olurlar.Böylece oluşan fazlalık doku iyi huylu veya kötü huylu olabilir. Kötü huylu tümörlerdir; yani iyi huylu
        tümörlerin aksine başka dokulara sızma ve yayılma özelliği gösterirler.
      </h4>
    </div>
    <div class="col-4 " style="background-color: #2d73936f;">
      <h4>
        <h3><b>İyi huylu tümörler :</b>
        </h3>Kanser değildir. Bunlar normal olarak yok edilebilinir ve bir daha da meydana çıkmazlar. Kötü huylu
        tümörler: Kanser anlamına gelir. Kanser hücreleri denetimsiz büyüyüp bölünür. Bunlar yakınlarındaki sağlıklı
        dokuların içine girerek bunları bozabilirler. Kanser hücreleri Ayrıca ilk tümörden koparak kan dolaşımına veya
        lenf sistemine girebilirler. Göğüs kanseri de bu yoldan yayılarak vücudun diğer parçalarında yeni tümörler
        oluşturur.
      </h4>
      <h4>
        <h3><b>Kötü huylu tümörler: </b></h3>Kanser anlamına gelir. Kanser hücreleri denetimsiz büyüyüp bölünür. Bunlar
        yakınlarındaki sağlıklı dokuların içine girerek bunları bozabilirler. Kanser hücreleri Ayrıca ilk tümörden
        koparak kan dolaşımına veya lenf sistemine girebilirler. Göğüs kanseri de bu yoldan yayılarak vücudun diğer
        parçalarında yeni tümörler oluşturur.
      </h4>
    </div>
    <div class="col-3 " style="background-color:#2d7393bb;text-align:center">
      <h4>
        <h3><b>Meme kanseri hücreleri:</b></h3>
        <img src="../../assets/gifs/m1.jpg" alt="" style="width: 220px;">
        <img src="../../assets/gifs/m2.jpg" alt="" style="width: 220px;">
      </h4>
    </div>
  </div>
</div>